{#
/**
 * The index view - Frontend
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Baptiste Pesquet 
 */
#}
{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if links %}
        <div class="list-group">
            {% for link in links %}
                <a href="{{ link.url }}" class="list-group-item linkTitle" target="_blank">{{ link.title }}
                <span class="small">Submitted by {{ link.author.username }}</span>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning">
            No links found.
        </div>
    {% endif %}
{% endblock %}
